.container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.containerBcg {
  background-image: url('../Images/iphone.png'), url('../Images/bcg.jpeg');

  background-color: black;
  background-repeat: no-repeat;
  background-size: 100%, 300%;
  width: 400px;
  height: 804px;
  position: relative;
}
.contactBook {
  position: absolute;
  width: 100%;
  padding: 50px 36px 10px 36px;
}

.title {
  font-size: 30px;
  color: white;
}

.subTitle {
  color: white;
}

.noContact {
  font-size: 22px;
  color: white;
  text-align: center;
  margin: 30px auto;
}
